<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<br><br><br>
<section id="demo">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="" [routerLink]="['../foods']">food</a></li>
                <li><a href="" [routerLink]="['../cars']">cars</a></li>
                <li><a href="" [routerLink]="['../tools']">tools</a></li>
            </ul>
        </nav>
    </div>

    <section id="grille">
        <div class="container">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container1">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
    </section>
    <section id="grille">
        <div class="container4">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container5">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container6">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container7">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
    </section>
    <section id="grille">
        <div class="container8">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container9">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container10">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container11">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
    </section>
    <section id="grille">
        <div class="container12">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container13">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container14">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
        <div class="container15">
            <div class="container__info">
                <span><i class="fas fa-eye"></i>2350</span>
                <span><i class="fas fa-comment-alt"></i>624</span>
                <span><i class="fas fa-download"></i>1470</span>
            </div>
            <div class="container__profile">
                <img [src]="images" alt="people" />
                <div class="container__profile__text">
                    <h2>the foods </h2>
                    <p>by <b>anderson tchoncheu</b></p>
                </div>
            </div>
        </div>
    </section>
</section>
<button [useExistingCss]="true" printSectionId="demo" ngxPrint>print</button>
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<br><br>