<section id="grille">
    <div class="container">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
</section>
<section id="grille">
    <div class="container4">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
    <div class="container5">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
    <div class="container6">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
    <div class="container7">
        <div class="container__info">
            <span><i class="fas fa-eye"></i>2350</span>
            <span><i class="fas fa-comment-alt"></i>624</span>
            <span><i class="fas fa-download"></i>1470</span>
        </div>
        <div class="container__profile">
            <img [src]="images" alt="people" />
            <div class="container__profile__text">
                <h2>the foods </h2>
                <p>by <b>anderson tchoncheu</b></p>
            </div>
        </div>
    </div>
</section><br><br>