nav {
    position: absolute;
    top: 0px;
    bottom: 25px;
    width: 50%;
    height: 100px;
    display: inline-block;
    background-color: orangered;
    border-top-left-radius: 6%;
    border-top-right-radius: 36%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: unset;
    transition: 1s;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
    font-size: 32px;
    transition: 1s;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-top: 30px;
    padding-left: 80px;
}

$bright-color: #fff;
@mixin bottom {
    position: absolute;
    right: 0;
    left: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #80afcd;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.4;
}

.container {
    border-radius: 2%;
    background: url(/assets/img-product/32038.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container__info {
    @include bottom;
    bottom: 20%;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px;
    color: $bright-color;
    span {
        margin-right: 20px;
    }
    i {
        margin-right: 10px;
    }
}

.container__profile {
    background-color: #e4f2fd;
    display: flex;
    align-items: center;
    padding: 20px;
    @include bottom();
    bottom: 0;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
        margin-right: 10px;
    }
    h2 {
        color: #334454;
        font-size: 1.2rem;
    }
    p {
        color: #a1b2bc;
        font-size: 0.8rem;
    }
    p b {
        font-style: italic;
    }
}

#grille {
    padding: 100px 0 100px 20px;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 20px;
}

.container1 {
    border-radius: 2%;
    background: url(/assets/img-product/gettyimages-1139558910-2048x2048.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container2 {
    border-radius: 2%;
    background: url(/assets/img-product/bebe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container3 {
    border-radius: 2%;
    background: url(/assets/img-product/gettyimages-168362728-2048x2048.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container4 {
    border-radius: 2%;
    background: url(/assets/img-product/gettyimages-1370776612-2048x2048.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container5 {
    border-radius: 2%;
    background: url(/assets/img-product/gettyimages-185330131-2048x2048.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container6 {
    border-radius: 2%;
    background: url(/assets/img-product/gettyimages-91690102-2048x2048.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container7 {
    border-radius: 2%;
    background: url(/assets/img-product/baba.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}